/* -------------RESETS------------- */
/*Resets are used for overwriting default html tag properties*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  font,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    scroll-behavior: smooth;
    list-style: none;
  }
  html {
    font-size: 62.5%;
    height: 100%;
  }
  body {
    color: #2b2b2b;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    overflow-x: hidden;
    line-height: 1.4;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  article,
  aside,
  footer,
  header,
  nav,
  section,
  time {
    display: block;
  }
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
  }
  /* GRID */
  .container {
    max-width: 130rem;
    padding: 1.5rem;
    width: 100%;
    margin: 0 auto;
  }
/* HEADER */
.header {
    background: #fff;
    padding: 2rem 0;
}
.header .header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around
}
.header .header__nav ul .nav-li-pos {
    display: flex;
    gap: 4rem;
    font-weight: bold;
}
.header .header__nav ul li a {
    color: #767676;
    font-size: 1.9rem;
}
.header .header__nav ul li:hover a {
    color: #333;
}
.header .header__btn {
    display: inline-block;
    background: #04ddb2;
    border: 1px solid transparent;
    border-radius: 40px;
    padding: 1.5rem 3rem;
}
.header .header__btn:hover {
    transform: scale(1.1);
    transition: 0.5s ease;
}
.header .header__btn a {
    color: #fff;
    font-weight: bold;
}
.header .burger__btn{
    display: none;
    transition: 0.5s ease;
}
.header .header__nav ul .header__mobile__btn {
    display: none;
    width: 20rem;
    text-align: center;
}
.header .header__nav ul .header__mobile__btn a {
    color: white;
}
.header .burger__btn span{
    display: block;
    height: 0.2rem;
    width: 2rem;
    background-color: #767676;
    transition: 0.3s ease;
    border-radius: 50px;
}

@media screen and (max-width: 500px) {
    .header{
        z-index: 100;
    }
    .header .header__wrapper {
        justify-content: space-between;
        padding: 0 2rem;
        align-items: center;
    }
    .header .burger__btn {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
    }
    .header .header__nav ul .nav-li-pos{
        flex-direction: column;
        padding: 3rem 3rem;
    }
    .header .header__nav{
        border-top: 1px solid lightgray ;
        position: absolute;
        background: #f1f1f1;
        right: 0;
        left: 0;
        width: 100%;
        height: 0vh;
        top: 8.2rem;
        opacity: 0;
        transition: 0.5s ease;
    }
    .header .header__btn{
        display: none;
    }
    .header .header__nav ul .header__mobile__btn {
        display: inline-block;
        background: #04ddb2;
        border: 1px solid transparent;
        border-radius: 40px;
        padding: 1.5rem 2rem;
    }
    .header .btn-pos {
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    .header .header__nav.open{
        height: 53vh;
        transition: 0.5s ease;
        opacity: 100%;
    }
    .header .burger__btn.open span:first-child {
        transform:translate(0, 0px) rotate(45deg);
    }
    .header .burger__btn.open span:last-child {
        transform:translate(0, -10px) rotate(-45deg);
    }
    .header .burger__btn.open span:nth-child(2) {
        opacity: 0;
    }
}

/* BODY */

.banner {
    background: #f1f1f1;
    position: relative;
    padding-top: 3rem;
    z-index: -1;
}
.banner .banner__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner .banner__title{
    margin-bottom: 12px;
}
.banner .banner__title h1, .banner__title span {
    font-size: 64px;
    font-weight: 700;
}
.banner .banner__text {
    max-width: 600px;
    margin-bottom: 4rem;
    text-align: center;
}
.banner .banner__text p {
    font-size: 26px;
    text-align: center;
}

@media screen and (max-width: 500px) {
    .banner .banner__title h1, .banner .banner__title span {
        font-size: 38px;
    }
    .banner .banner__text p {
        font-size: 18px;
        max-width: 400px;
    }  
}

/* CONTENT SECTION */
.content-section {
    position: relative;
    background: #f1f1f1;
    z-index: -1;
}
.content-section .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.content-section__items {
    border-radius: 24px;
    margin: 24px;
    max-width: 500px;
    background: white;
}
.content-section__items img{
    width: 500px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}
.content-section__items .content-section__item-description {
    width: 500px;
    padding: 24px;
    color: #2f2f2f;
}
.content-section .content-section__item-title h3 {
    font-size: 22px;
    font-weight: bolder;
    margin-bottom: 3px;
    color: #2f2f2f;
}
.content-section .content-section__item-context p {
    font-size: 20px;
}

@media screen and (max-width: 500px) {
    .content-section__items {
        max-width: 330px;
    }
    .content-section__items .content-section__item-description {
        width: 330px;
    }
}

/* TRAIN */
.train {
    padding: 5rem 0;
    background: #ffffff;
}

.train h2 {
    font-size: 5rem;
    color: black;
    font-weight: 600;
    max-width: 40rem;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5rem;
}

.train .train-wrapper {
    text-align: center;
}

.train a {
    width: 15rem;
    font-size: 2rem;
}

@media screen and (max-width:500px) {
    .train h2 {
        font-size: 4rem;
    }
}

/* FOOTER */

.footer {
    padding: 4rem 0;
    background: #fff;
    max-width: 1072px;
    margin: 0 auto;
}
.footer .footer__wrapper {
    border-top: 0.5px solid #9f9f9f;
    display: flex;
    padding: 60px 80px;
    gap: 9rem;
    justify-content: center;
    align-items: start;
}
.footer .footer__links h4 {
    margin-bottom: 3rem;
    font-weight: 600;
}
.footer .footer__links ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.footer .footer__links ul li {
    width: 10rem;
}
.footer .footer__logo {
    display: flex;
    align-self: start;
    flex-direction: column;
}
.footer .footer__logo ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.footer .footer__logo ul li {
    color: #6f6f6f;
    width: 17rem;
}
.footer .footer__links ul li a {
    color: #6f6f6f;
}
.footer .footer__logo img {
    margin-bottom: 2rem;
    width: 9rem;
}
.footer .footer__icons {
    display: flex;
    align-self: start;
}
.footer .footer__icons ul{
    display: flex;
    gap: 2rem;
}
.footer .footer__icons ul li a {
    display: flex;
    background: #04ddb2;
    border-radius: 360px;
    width: 3rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
}
.footer .footer__icons ul li:hover {
    transform: scale(1.1);
    transition: 0.5s ease;
}
.footer .footer__links ul li:hover {
    transform: scale(1.1);
    transition: 0.5s ease;
}
.footer-for-mobile {
    display: none;
}
/* FOOTER FOR MOBILE */

.footer-for-mobile {
    padding: 4rem 0;
    background: #fff;
    max-width: 1072px;
    margin: 0 auto;
}
.footer-for-mobile .footer__wrapper {
    border-top: 0.5px solid #9f9f9f;
    display: flex;
    padding: 60px 80px;
    gap: 9rem;
    justify-content: center;
    align-items: center;
}
.footer-for-mobile .footer__links h4 {
    margin-bottom: 3rem;
    font-weight: 600;
}
.footer-for-mobile .footer__links ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.footer-for-mobile .footer__logo {
    display: flex;
    align-self: start;
    flex-direction: column;
}
.footer-for-mobile .footer__logo ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.footer-for-mobile .footer__logo ul li {
    color: #6f6f6f;
}
.footer-for-mobile .footer__links ul li a {
    color: #6f6f6f;
}
.footer-for-mobile .footer__logo img {
    margin-bottom: 2rem;
    width: 9rem;
}
.footer-for-mobile .footer__icons {
    display: flex;
    align-self: start;
}
.footer-for-mobile .footer__icons ul{
    display: flex;
    gap: 2rem;
}
.footer-for-mobile .footer__icons ul li a {
    display: flex;
    background: #04ddb2;
    border-radius: 360px;
    width: 3rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
}
.footer-for-mobile .footer__icons ul li:hover {
    transform: scale(1.1);
    transition: 0.5s ease;
}
.footer-for-mobile .footer__links ul li:hover {
    transform: scale(1.1);
    transition: 0.5s ease;
}
.footer-for-mobile {
    display: none;
}
@media screen  and (max-width:400px) {
    .footer{
        display: none;
    }
    .footer-for-mobile{
        display: inline;
    }
    .footer-for-mobile .footer__links ul {
        max-width: 50rem;
        width: 9rem;
    }
    .footer-for-mobile .footer__wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .footer-for-mobile .footer__logo {
        order: 2;
    }
    .footer-for-mobile .testing {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 4rem; 
    }
    .footer-for-mobile .footer__icons ul {
        display: flex;
        flex-direction: column;
    }
    .footer-for-mobile .footer__icons ul li a{
        height: 4rem;
        width: 4rem;
        text-align: center;
    }
    .footer-for-mobile .footer__links:not(#resources) {
        /* margin-bottom: 72px; */
        padding: 0 16px;
        text-align: center;
    }
    .footer-for-mobile .footer__icons {
        display: flex;
        justify-content: center;
        padding: 20px 16px 0px 16px;
    }
    .footer-for-mobile #resources {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 20px 16px 0px 16px;
    }
    .footer-for-mobile #about{
        display: flex;
        flex-direction: column;
    }
    .footer-for-mobile #general{
        display: flex;
        flex-direction: column;
    }
    .footer-for-mobile .footer__logo {
        text-align: center;
        align-items: center;
        font-size: 15px;
    }
    .footer-for-mobile .footer__links ul li a {
        font-size: 15px;
    }
}
@media screen and (max-width: 500px) and (min-width:401px) {
    .footer{
        display: none;
    }
    .footer-for-mobile{
        display: inline;
        background: black;
    }
    .footer-for-mobile .footer__wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .footer-for-mobile .footer__logo {
        order: 2;
    }
    .footer-for-mobile .testing {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 5rem;
    }
    .footer-for-mobile .footer__icons ul {
        display: flex;
        flex-direction: column;
    }
    .footer-for-mobile .footer__icons ul li a{
        height: 4rem;
        width: 4rem;
        text-align: center;
    }
    .footer-for-mobile .footer__links:not(#resources) {
        /* margin-bottom: 72px; */
        padding: 0 16px;
        text-align: center;
    }
    .footer-for-mobile .footer__icons {
        display: flex;
        justify-content: center;
        padding: 20px 16px 0px 16px;
    }
    .footer-for-mobile #resources {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 20px 16px 0px 16px;
    }
    .footer-for-mobile #about{
        display: flex;
        flex-direction: column;
    }
    .footer-for-mobile #general{
        display: flex;
        flex-direction: column;
    }
    .footer-for-mobile .footer__logo {
        text-align: center;
        align-items: center;
        font-size: 15px;
    }
    .footer-for-mobile .footer__links ul li a {
        font-size: 15px;
    }
}

/* REPEATABLE PATTERNS */
.text__color__span {
    color: #04ddb2;
}
.btn {
    padding: 1rem 1.5rem;
    border: 1px solid transparent;
    display: inline-block;
    border-radius: 5rem;
    font-weight: 600;
}

.btn.bg--mint {
    background: #04ddb2;
    color: #ffffff;
    transition: 0.5s ease;
}

.btn.bg--mint:hover {
    transform: scale(1.1);
    transition: 0.5 ease;
}